body {
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.hide{
display: none;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}


/* .tableIndicator {
  margin: 3%;
} */

section {
  font-family: 'Montserrat', sans-serif;
  color: black;
  width: 100%;
  text-align: center;
}

#section-type {
  margin: 0;
  text-align: center;
}

#indicator {
  display: none;
  width: 85%;
  text-align: center;
  font-size: 103%;
  border-radius: 10px;
  padding: .3%;
  background-color: rgb(250, 201, 201);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

h1 {
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  letter-spacing: 2pt;
}

.indicator-result {
  text-align: center;
  font-size: .2em
}

/* #table {
  margin-left: auto;
  margin-right: auto;
  padding: .6%;
} */

.general-information {
  display: none;
}

p {
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* .button {
  background-color: rgb(255, 155, 155);
  padding: 1%;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
} */



td {
  border: 0.1em solid #3531310e;
  text-align: left;
  padding: 8px;
  text-align: center;
}



/* pantallas teléfonos móviles */
@media only screen and (max-width: 767px) {
  #header {
    overflow: hidden;
    background-color: rgb(233, 231, 231);
    position: relative;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .logo {
    display: inline-block;
    margin: 3%;
    width: 50%;
    text-align: left;
    width: 28%;
  }

  h1 {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1pt;
  }

  .mainFigure {
    display: none;
  }

  .header {
    background-color: #F75A5A;
    padding: 1%;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .elements {
    background-color: rgb(255, 155, 155);
    padding: 1%;
    width: 80%;
    margin-left: 8%;
  }

  section {
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 100%;
    text-align: center;
  }

  .button {
    background-color: #F75A5A;
    padding: 2%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 2pt;
    margin-right: 5%;
  }

#section-orderChart {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

  #mainFiguremobile {
    margin-left: auto;
    margin-right: auto;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 4%;
    width: 95%
  }

  .elements {
    background-color: rgb(255, 155, 155);
    padding: 2%;
    width: 95%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
  }

  #demographic {
    margin-left: 1%;
  }

  #indicator-name {
    font-size: .6em;
    margin-left: 2%;
    margin-right: 2%;
  }

  table {
    border-collapse: collapse;
    width: 50%;
  }

  /* boton burguer */
  #buttonHeader {
    display: none;
    background-color: rgb(255, 155, 155);

  }

  .center button {
    font-family: 'Montserrat', sans-serif;
    font-size: .1em;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background: none;
    border: none
  }

  .center figure.bar {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5%;
    display: inline-block;
    width: 8%;
  }

  .center {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
}

/* pantallas tablets */
@media only screen and (min-width: 768px) {
  #header {
    background-color: rgb(233, 231, 231);
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .logo {
    display: inline-block;
    width: 18%;
    margin: 2%;
  }

  #bar {
    display: none;
  }

  .info-button {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    border: none;
    background: none;
  }

  .mainFigure {
    display: inline-block;
    width: 30%;
    padding: 0%;
    margin: 0;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 0.5%;
  }

  .mainFiguremobile {
    display: none;
  }

  .elements {
    background-color: rgb(255, 155, 155);
    padding: 1%;
    width: 30%;
    margin: 0;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }

  #indicator-name {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    margin: 5% 25% 5% 25%;
  }
}

/* pantalla desktops */
@media only screen and (min-width: 1024px) {
  #header {
    background-color: rgb(233, 231, 231);
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }



  .logo {
    display: inline-block;
    width: 18%;
    padding-right: 20em;
    margin: 1%;
  }

  .buttonHeader {
    justify-content: right;
    display: flex;

  }

  .info-button {
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    border: none;
    background: none;
    padding: 1%;
    width: 100%;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 2em;
  }

  #indicator-name {
    font-size: 1.5em;
  }

  .mainFigure {
    display: inline-block;
    width: 30%;
    padding: 0%;
    margin: 0;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 0.5%;
  }

  .elements {
    background-color: rgb(255, 155, 155);
    padding: 1%;
    width: 30%;
    margin: 0;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
  }

  #mainFiguremobile {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    margin: 5% 25% 5% 25%;
  }
}
